In [2]:
for _ in range(5):
    for _ in range(5):
        print('*',end='')         #end='' to print it in the same line
    print()                       #...every star printed in other line if u dont keep it outside for loop

*****
*****
*****
*****
*****

In [3]:
for row in range(5):
    for column in range(row):
        print("*",end='')
    print()

*
**
***
****

In [4]:
for row in range(5):
    for column in range(5-row):
        print("*",end='')
    print()

*****
****
***
**
*

In [5]:
for row in range(1,6):
    for space in range(1,6-row):
        print(end=" ")
    for column in range(1,row+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [6]:
for row in range(1,6):
    print(((5-row)*' ')+(row * "*"))

    *
   **
  ***
 ****
*****

In [7]:
for i in range(1,6):
    print(' '* (5-i) + '* '*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [8]:
for row in range(1,6):
    for col in range(1,row+1):
        print(row,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
for row in range(1,6):
    for col in range(row):
        print(row,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
for row in range(1,6):
    for col in range(1,row+1):
        print(row,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
'''
            *
          *   *
        *   *   *
          *   *
            *
'''
for row in range(1,4):
    for space in range(5-row-2):
        print(' ',end=' ')
    for col in range(row):
        print('* ',end='  ')
    print()
    
for row in range(2,0,-1):
    for space in range(5-row-2):
        print(' ',end=' ')
    for col in range(row):
        print('* ',end='  ')
    print()

    *
  *   *
*   *   *
  *   *
    *

In [12]:
'''
            *
          *   *
        *   *   *
          *   *
            *
'''
for row in range(1,4):
    for space in range(row,10):
        print(' ',end=' ')
    for col in range(row):
        print('* ',end='  ')
    print()
    
for row in range(2,0,-1):
    for space in range(row,10):
        print(' ',end=' ')
    for col in range(row):
        print('* ',end='  ')
    print()

                  *
                *   *
              *   *   *
                *   *
                  *

In [13]:
'''
            *
          *   *
        *   *   *
          *   *
            *
'''
for row in range(1,6):
    for sp in range(row,40): # 1 to 4 , 2 to 40 ,3 to4 
        print(end="-")
        
    for col in range(1,row+1):
        print("*",end=" ")
    print()

for row in range(6,0,-1):
    for sp in range(row,40): # 1 to 4 , 2 to 40 ,3 to4 
        print(end="-")
        
    for col in range(1,row+1):
        print("*",end=" ")
    print()

---------------------------------------*
--------------------------------------* *
-------------------------------------* * *
------------------------------------* * * *
-----------------------------------* * * * *
----------------------------------* * * * * *
-----------------------------------* * * * *
------------------------------------* * * *
-------------------------------------* * *
--------------------------------------* *
---------------------------------------*

In [14]:
'''
1
10
1010
101010
'''
for row in range(1,5):
    for col in range(0,row):
        if col%2!=0:
            
            print('0',end='')
        if col%2==0:
            print('1',end='')
        
    print()

1
10
101
1010

In [15]:

for row in range(1,5):
    for space in range(row,20):
        print("  ",end="")
    for col in range(row):
        print("*  ",end=" ")
    print()

                                      *
                                    *   *
                                  *   *   *
                                *   *   *   *

In [16]:
'''

            *
          *   *
        *       *
      *           *
        *       *
          *    *
            *
          *   *
            *
'''

for row in range(9):
    for col in range(7):
        if row+col==3 or col-row==3 or row-col==3 or row+col==9 or (row==8 and col==3):
        
            print("* ",end='')
        else:
            print(end='  ')
    print()

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *
    *   *
  *   *   *

In [17]:
'''

            *
          *   *
        *       *
      *           *
        *       *
          *    *
            *
          *   *
            *
'''

for row in range(7):
    for col in range(7):
        if row+col==3 or col-row==3 or row-col==3 or row+col==9:
        
            print("* ",end='')
        else:
            print(end='  ')
    print()

for row in range(2):
    for space in range(row,2+row):
        print("  ",end="")
    for col in range(3):
        if row==col or row+col==2:
        
            print("* ",end='')
        else:
            print(end='  ')
    print()

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *
    *   *
      *

In [18]:
'''

            *
          *   *
        *       *
      *           *
        *       *
          *    *
            *
          *   *
            *
'''

for row in range(7):
    for space in range(row,10+row):
        print("  ",end="")
    for col in range(7):
        if row+col==3 or col-row==3 or row-col==3 or row+col==9:
        
            print("* ",end='')
        else:
            print(end='  ')
    print()

for row in range(2):
    for space in range(row,12+row):
        print("  ",end="")
    for col in range(3):
        if row==col or row+col==2:
        
            print("* ",end='')
        else:
            print(end='  ')
    print()

                          *
                        *   *
                      *       *
                    *           *
                      *       *
                        *   *
                          *
                        *   *
                          *

In [19]:
'''

   *     *
    *   *
     * *
      *
     *  *
    *    *
   *      *
'''

for row in range(7):
    
    for col in range(7):
        if row==col or col+row==6:
        
            print("*",end='')
        else:
            print(end=' ')
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [5]:
'''

             1       odd
           1 0 1     odd
         1 0 1 0 1   odd 
       1 0 1 0 1 0 1 odd


'''
for row in range(1,5):
    for space in range(4-row):
        print(' ',end=" ")
    for col in range(1,row*2):
        if not col%2:
            print('0',end=' ')
        else:
            print('1',end=' ')
                
    print()

      1
    1 0 1
  1 0 1 0 1
1 0 1 0 1 0 1

In [43]:
for row in range(1,5):
    for space in range(4-row):
        print(' ',end="")
    for col in range(row,0,-1):
        if not col%2:
            print('0',end='')
        else:
            print('1',end='')
                
    print()

   1
  01
 101
0101

In [6]:
'''
    *        *     
      *   *    
    *	*    *
      *   * 
    *        *
    
    '''

'\n    *        *     \n      *   *    \n    *\t*    *\n      *   * \n    *        *\n    \n    '

In [8]:
'''
    Size: 7 x 21 
    ---------.|.---------
    ------.|..|..|.------
    ---.|..|..|..|..|.---
    -------WELCOME-------
    ---.|..|..|..|..|.---
    ------.|..|..|.------
    ---------.|.---------'''

def doormat(n,m):
    for i in range(n//2):
        print(('.|.'*(2*i+1)).center(m,'-'))
       
    print('WELCOME'.center(m,'-'))
    
    for i in range(n//2,0,-1):
        print(('.|.'*(2*i-1)).center(m,'-'))
        
n,m = map(int,input().split())
doormat(n,m)

11 33
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [ ]:
#Replace all ______ with rjust, ljust or center. 

thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))